/* styles.css */
.my-masonry-grid {
    display: flex;
    margin-left: -30px; /* Adjust based on your gutter */
    width: auto;
}

.my-masonry-grid_column {
    padding-left: 30px; /* Adjust based on your gutter */
    background-clip: padding-box;
}

/* Responsive Adjustments */
@media (max-width: 1100px) {
    .my-masonry-grid_column {
        padding-left: 20px; /* Less padding for smaller screens */
    }
}
